body {
    min-width: 375px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    float: right;
    text-decoration: none;
}