body {
    min-width: 375px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#createPost {
    display: block;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
footer a {
    float: right;
    text-decoration: none;
}